/* Global Settings */
body {
  padding: 4px;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #36393F;
  color: #E5F3FF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Classes */
.container {
    border: 2px solid darkmagenta;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
}

h2.description {
  text-decoration: underline;
}

.border {
  border: 1px solid red !important;
}
/* Splash Card */
.splash-card {
    /* border: 1px solid hotpink; */
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 80%;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}

.intro {
  margin: 0px;
  font-size: 2rem;
  text-align: left;
}

.introName {
  margin-top: 0px;
  font-size: 4rem;
}

.link-container {
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
}

.icon-wrapper {
  width: 4rem;
  padding: 6px;
  display: flex;
  justify-content: center;
}

/* Projects */
.proj-card {
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  max-width: 100%;
  padding: 1.5rem;
  margin: .6em;
  margin-top: 8rem;
}

.proj-card .info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.proj-card .info > * {
  margin: .8rem .5rem;
  padding: .4em;
}

.proj-card .link-container {
  width: 80%;
  align-self: center;
}

.proj-card .info h3 {
  text-decoration: underline;
  font-size: 1.5rem;
}

.proj-card .img-wrapper {
  border: 1px solid hotpink;
  max-width: 100%;
}

.test-wrap {
  width: 100%;
  height: 400px;
  background-image: url('assets/demo-calc.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid red;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
}
